.collection-preview{
    align-items: center;
    
  
  display: inline-block;
  margin: 5px 10px 10px 15px;

  border:1px solid white;
  padding:10px 10px;
  width:90%;
  
  h1{
    margin-left: 20px;
  }
  
}