.col-item{
  height:240px;
  display: inline-block;
  width: 20%;
  padding: 10px 10px;
  margin: 10px 10px 10px 10px;
  
  .image {
    width: 100%;
    height: 95%;
    background-size: cover;
    background-position: center;
    margin-bottom: 5px;
  }
.image-footer{
 display: flex;
 justify-content: space-between;
 color: chocolate;
 font-weight: bold;
  
}
  
  .iconheart{
    color:white;
    float: right ; 
    
    margin: 10px 10px;
    font-size: 150%;
    &:hover{
      cursor: pointer;
      color: crimson;
      transition: color 0.2s;
    }
  }
  
  
  }
