.header{
      margin-left: 10%;
    height: 50px;
    width:80%;
    align-self: center;
    
    display: flex;
    justify-content: space-between;
  .logo{
    font-size: 250%;
     color: chocolate;
     
     height: auto;
     width: 80px;
     margin-top: 10px;
 }

 .register-section{
    margin-top: 20px;
 list-style: none;
 justify-content: space-between;        
.reg-content .option {
display: inline-block;
margin-left: 20px;
 text-transform:uppercase;
 border-bottom: 2px solid transparent; 
 text-decoration: none;
  color: #000;

 &:hover {
     cursor: pointer;
border-bottom: 2px solid chocolate;
transition: border-bottom 0.1s;
 }                  
}
.reg-content .cart {
    display: inline-block;
    margin-left: 20px;
    
     font-size:110% ;
      color: #000;
    
     &:hover {
         cursor: pointer;
    color:chocolate;
    transition: color  0.1s;
     }                  
    }

 }



}

   
 