.form-input{
    background: none;
    background-color: white;
    color: grey;
    font-size: 100%;
    padding: 10px 10px 10px 5px;

    width: 45%;
    border: none;
    text-align: center;
    border-bottom: 1px solid grey;
   margin-bottom:5% ;
   letter-spacing: 1px;
   margin-left: 5%;
    
}
label{
    text-transform: uppercase;
   
}